<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home-dosen">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Beranda</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="dashboard-dosen">
      <ion-icon src="\assets\icon\history-icon.svg" aria-hidden="true"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="jadwal-dosen">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Jadwal</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profil-dosen">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Akun</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
