ion-content {
    ion-item-group {
        margin: 5% 0 10% 0;
        ion-item {
            ion-label {
                font-weight: 300;
                padding-left: 5%;
            }
        }
    }
}
