<ion-header>
  <ion-item color="tertiary">
    <ion-buttons fill="clear" slot="start" color="light">
      <ion-back-button icon="caret-back" defaultHref="/tabs-dosen/profil-dosen/pengaturan-akun-dosen"></ion-back-button>
      Ganti Password
    </ion-buttons>
  </ion-item>
</ion-header>

<ion-content [fullscreen]="true" class="body">
    <ion-item-group>
      <ion-item>
        <ion-input label="Password" label-placement="stacked" placeholder="Masukan Password" type="password" 
        [(ngModel)]="form.password"
        [ngModelOptions]="{standalone: true}"></ion-input>
      </ion-item>
    </ion-item-group>
</ion-content>

<ion-footer class="save">
  <ion-toolbar>
      <ion-button (click)="doUpdateProfil()" color="primary">
        Simpan
      </ion-button>
  </ion-toolbar>
</ion-footer>
