ion-header {
    position: absolute;
}
ion-toolbar{
    --ion-background-color: transparent;
    opacity: 0;
}
ion-card {
    margin-top: 10% !important;
    --ion-background-color: transparent;
    box-shadow: none !important;
    ion-card-title {
        font-size: 25px;
        color: #53565a;
        text-align: center;
        font-weight: 600;
    }
    ion-card-subtitle {
        text-align: center;
        padding-top: 3% !important;
        font-size: 13px;
        color: #888c91;
        font-weight: 400;
        text-transform: none;
        padding: 0 40px;
    }
    ion-card-content{
        margin-top: 5% !important;
        ion-item {
            color: #74787e;
            --border-color: #d4d7db;
            --highlight-color-focused: #215ab7;
            --padding-start: 0;
            --inner-padding-end: 0;
            font-size: 13px;
            ion-input {
                display:contents;
                color: #74787E;
                ion-icon{
                    padding-right: 3%;
                    font-size: 18px
                }
            }
            ion-input:hover{
                color: #215ab7;
            }
        }
    }
    ion-item {
        // padding: 2% 0% 2% 0;
        ion-label {
        margin: 0;
        line-height: 20px;
        font-size: 14px;
        color: #8c8c8c;
            a {
            text-decoration: none;
            }
            a:hover {
                cursor: pointer;
            }
        }
    }
    ion-button{
        font-weight: 600;
    }
}