<ion-content [fullscreen]="true">
  <form ngSubmit="login">
    <div id="container" class="login">
      <ion-img src="/assets/img/logo.png" alt="logo" class="logo"></ion-img>
      <ion-item>
        <ion-input
          [(ngModel)]="form.email"
          [ngModelOptions]="{standalone: true}"
          placeholder="Email"
          type="email">
          <ion-icon name="mail-outline"></ion-icon></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          [(ngModel)]="form.password"
          [ngModelOptions]="{standalone: true}"
          placeholder="Password"
          type="password">
          <ion-icon slot="start" name="key-outline"></ion-icon>
          <!-- <ion-icon 
            [name]="showPassword ? 'eye' : 'eye-off'"
            slot="end" class="password-icon"
            (click)="togglePasswordVisibility()"></ion-icon>-->
          </ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label slot="end">
            Belum Punya Akun? <a (click)="signup()">Daftar</a>
          </ion-label>
        </ion-item>
      <ion-button expand="block" (click)="doSubmitWithValidateFormInput()">
        Login</ion-button
      >
    </div>
  </form>
</ion-content>
