ion-header {
    ion-toolbar{
        position: absolute;
        --ion-background-color: transparent;
        opacity: 0;
    }
}
ion-content {
    margin: 0;
    ion-item-group {
        margin: 0 0 2% 0;
        ion-item {
            .keluar {
                font-weight: 700;
            }
            ion-label {
                font-weight: 300;
                padding-left: 5%;
            }
        }
    }
    ion-card {
        box-shadow: none;
        border-radius: 0 0 45px 0;
        // background: url('../../../../assets/img/background-biru.jpg');
        // background-size: cover;
        // background-position: center;
        // overflow: hidden;
        ion-card-content {
            .nama {
                font-size: 16px;
                font-weight: 800;
            }
            .nim {
                font-weight: 400;
                font-size: 14px;
            }
        }
    }
    
}