<ion-header>
  <ion-item color="tertiary">
    <ion-buttons fill="clear" slot="start" color="light">
      <ion-back-button icon="caret-back" defaultHref="/tabs-dosen/profil-dosen"></ion-back-button>
      Tentang Aplikasi
    </ion-buttons>
  </ion-item>
</ion-header>

<ion-content [fullscreen]="true" class="body">
  <ion-accordion-group [multiple]="true">
  <ion-accordion value="first">
    <ion-item slot="header" color="light">
      <ion-icon name="call-outline"></ion-icon>
      <ion-label>
        Kontak Kami</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      Jika Anda mengalami kendala atau ada pertanyaan lainnya terkait penggunaan aplikasi Presensi Praktikum, Anda bisa menghubungi ke:
    <br>
    <br>
    Email: ilyasalhasimm@gmail.com
    <br>
    WhatsApp : +62 897-7050-510
    </div>
  </ion-accordion>
  <ion-accordion value="second">
    <ion-item slot="header" color="light">
      <ion-icon name="phone-portrait-outline"></ion-icon>
      <ion-label>Versi Aplikasi</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">Ini adalah versi Aplikasi Pertama</div>
  </ion-accordion>
</ion-accordion-group>
</ion-content>
